# [GENERAL]
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.log
*.tmp
*.bak

# [STARDEW VALLEY]
.gemini/
artifacts/
cache/
*.zip
stats.json

# [C# SERVICE]
.vsconfig
.editorconfig
*.useros
.DS_Store

# [MACOS]
.DS_Store
